In [1]:
import sqlite3
connection=sqlite3.connect("movies.db")
cursor=connection.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS movies (title text, director text, year int)""")

In [2]:
cursor.execute("""insert into movies values ("Taxi Driver","John Snowman",1989)""")

In [4]:
cursor.execute("select * from movies")

In [5]:
cursor.execute()

('Taxi Driver', 'John Snowman', 1989)

In [6]:
cursor.execute("INSERT INTO Movies VALUES ('Taxi Driver', 'Martin Scorsese', 1976)")

In [7]:
famousFilms = [('Pulp Fiction', 'Quentin Tarantino', 1994),
('Back to the Future', 'Steven Spielberg', 1985),
('Moonrise Kingdom', 'Wes Anderson', 2012)]

In [8]:
cursor.executemany("""insert into Movies values (?,?,?)""",famousFilms)

In [10]:
cursor.execute("select * from Movies")

In [11]:
cursor.fetchall()

[('Taxi Driver', 'John Snowman', 1989),
 ('Taxi Driver', 'Martin Scorsese', 1976),
 ('Pulp Fiction', 'Quentin Tarantino', 1994),
 ('Back to the Future', 'Steven Spielberg', 1985),
 ('Moonrise Kingdom', 'Wes Anderson', 2012)]

In [15]:
release_year=(1989,)
cursor.execute("""select * from Movies where year<?""",release_year)

AttributeError: 'sqlite3.Cursor' object has no attribute 'commit'

In [18]:
connection.commit()
connection.close()